@using LabSystem1._0.Helpers

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>


    <br />
    OSCHR<br />
    @Html.Image("Logo OSCHR", "http://www.asp.net/images/ui/asplogo-new.png", "Logo")
       @*<img src="~/Content/themes/base/images/Logo.jpg" />*@

    <abbr title="Phone"></abbr>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>